In [2]:
import pandas as pd

In [31]:
df_tweets = pd.read_csv('full_df_influenceurs.csv', encoding='utf-8')

In [32]:
df_tweets

,id,date,text
0,Steven Johnson,2021-06-25 16:15:20,RT @TimHarford: Why do we choose treatments th...
1,Steven Johnson,2021-06-23 05:12:55,RT @cdespinosa: Thirty years ago today. I thin...
2,Patrick LaForge,2021-06-27 00:53:13,Fight and Flight: T.S.A. to Resume Self-Defens...
3,Patrick LaForge,2021-06-27 00:52:24,"5 Dead in Hot-Air Balloon Crash in New Mexico,..."
4,The New York Times,2021-06-27 13:47:24,"RT @christophclarey: Serena Williams, four-tim..."
5,The New York Times,2021-06-27 13:45:05,"Saturday evening, search and rescue workers at..."