In [2]:
import pandas as pd

In [29]:
df_tweets = pd.read_csv('full_df.csv', encoding='utf-8')

In [30]:
df_tweets

,id,date,text
0,1409107351387480076,2021-06-27 11:12:27,https://t.co/WDtUrqz9eX $199\n\nThe domain nam...
1,1409107140854288387,2021-06-27 11:11:36,RT @BRIAN_COHEN0: To kickstart an investment p...
2,1409107449018085379,2021-06-27 11:12:50,RT @mnl48official: Collect and grab this exclu...
3,1409107444135989257,2021-06-27 11:12:49,"RT @mnl48wrldupdate: MNL48 ""AKB48 Group Asia F..."
4,1409107434015268872,2021-06-27 11:12:46,Yes it will because ppl want holidays - So the...
5,1409107430680662019,2021-06-27 11:12:46,@Fauntleroy1934 @2much2todo I don’t sense any ...